html, body {
	margin: 0;
	height: 100vh;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 1.5;
}

header {
	background: #24292e;
	padding: 12px 16px;
	line-height: .5;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	position: relative;
}

.logo a {
	color: #fff;
	display: flex;
}

.logo svg {
	width: 32px;
	height: 32px;
	fill: currentColor;
}

.nav-infos {
	display: flex;
	align-items: center;
}

.notifications a {
	color: rgb(255, 255, 255, 0.75);
	margin: 0 24px;
}

.notifications svg {
	width: 24px;
	fill: currentColor;
}

.btn-add {
	margin: 0 16px;
}

.btn-add svg {
	width: 12px;
	fill: currentColor;
}

.menu-user, .btn-add {
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.menu-user:hover, .btn-add:hover, .menu-user.actived, .btn-add.actived {
	color: rgb(255, 255, 255, 0.75);
}

.menu-user img {
	width: 20px;
	height: 20px;;
	border-radius: 3px;
}

.menu-user a {
	margin-left: 4px;
}

.dropdown-carret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border: 4px solid;
		border-right-color: currentcolor;
		border-bottom-color: currentcolor;
		border-left-color: currentcolor;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin-left: 8px !important;
}

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 180px;
	padding: 5px 0;
	margin-top: 10px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(27,31,35,0.15);
	border-radius: 4px;
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	color: black;
	line-height: 1.5;
}
.dropdown::before {
	position: absolute;
	display: inline-block;
	content: "";
	top: -14px;
	right: 10px;
	left: auto;
	border: 7px solid transparent;
    border-bottom-color: transparent;
	border-bottom-color: #fff;
}

.dropdown.actived {
	display: block;
}

.dropdown-items {
	display: block;
	padding: 4px 10px 4px 15px;
	overflow: hidden;
	color: #24292e;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.dropdown-items:hover {
	color: #fff;
	text-decoration: none;
	background-color: #0366d6;
	outline: none;
}

.dropdown-header {
	color: #24292e;
	font-size: 14px;
	padding: 8px 16px;
	width: 60%;
}

.dropdown-divider {
	height: 1px;
	margin: 8px 1px;
	background-color: #e1e4e8;
}

.menu button {
	color: rgb(255, 255, 255, 0.75);
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.menu svg {
	width: 24px;
	height: 24px;
	fill: currentColor;
}

.menu-items {
	width: 100%;
	display: none;
	margin-top: 14px;
	line-height: 1.5;
}

.menu-items ul, .dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-items li {
	border-top: 1px solid #444d56 !important;
	cursor: pointer;
}

.nav-items, .menu-items li:hover * {
	color: rgba(255,255,255,0.75);
}

.nav-items, .menu-items a {
	display: block;
	font-size: 14px;
	padding: 8px 0;
	font-weight: bold;
	color: #fff;
}

.menu-items.actived {
	display: block;
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	background-color: rgba(255,255,255,0.125);
	color: #fff;
	padding: 0;
	margin: 16px 0 32px 0;
}

.search-field {
	display: table-cell;
	width: 100%;
	min-height: 26px;
	padding-top: 0;
	padding-bottom: 0;
	background: none;
	border: 0;
	box-shadow: none;
	color: inherit;
	font-size: 16px;
	padding-left: 12px;
}

.search-field::placeholder {
	color: rgba(255,255,255,0.75);
}

.search-icon {
	margin-right: 8px;
}

.sign-out {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.sign-out svg {
	fill: currentColor;
	margin: 2px 8px 0 0;
	float: left;
}

.hide-sm {
	display: none;
}
.hide-md {
	display: flex;
}

@media screen and (min-width: 48em) {
	header {
		line-height: 2.5;
	}
	.nav-items {
		position: absolute;
		left: 45px;
	}
	.nav-items ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
	}
	.nav-items li {
		margin: 0 8px;
		cursor: pointer;
	}
	.nav-items li:hover > * {
		color: rgba(255,255,255,0.75);
	}
	.search {
		margin: 0;
		width: 300px;
	}

	.search-field {
		font-size: 13px;
	}

	.notifications a {
		margin: 0;
	}
	
	.hide-md {
		display: none;
	}
	.hide-sm {
		display: flex;
	}
}