html, body, .container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eeeeee;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    box-sizing: border-box;
}

.nav-header {
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-header {
    width: 40px;
    height: 40px;
}

.header-actions {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.header-actions svg{
    cursor: pointer;
}

.nav-header-search {
    width: 100%;
    background-color: #fbfbfb;
    padding: 7px 16px;
    box-sizing: border-box;
}

.search-field {
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.search-field input{
    border: 0;
    width: 80%;
    font-size: 12px;
}